@import "./header";
@import "./mainSection";
@import "./footer";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: auto;
  position: relative;
}
.container-md {
  max-width: 792px;
}
